* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightcyan;
    padding: 30px 60px;
}

.list {
    background-color: white;
    margin: 0;
    padding: 0;
    list-style: none;
}
.item {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 0 15px;
}

.name {
    display: block;
    flex-shrink: 0;
    font-weight: bold;
    text-decoration: none;
}

.name h1 {
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.price {
    display: flex;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
}
.gzB009 {
    color: red;
}
.A95iT1 {
    padding-left: 15px;
}

@media screen and (max-width: 900px)
{
    .item
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px)
{
    .item
    {
        font-size: 15px;
    }
    .A95iT1 
    {
        padding-left: 10px;
    }
    
}

@media screen and (max-width: 650px)
{
    body {
        padding: 10px 20px;
    }
    .item
    {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 525px)
{
    body {
        padding: 5px;
    }
    .item
    {
        padding: 10px 5px;
    }
    .A95iT1 {
        padding-left: 5px;
    }
    .price {
        padding: 5px 0;
    }
    
}