body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.container {
  margin: auto;
  max-width: 1080px;
  border: 1px solid red; }

.main-header {
  background-color: green;
  padding: 20px 0; }
  .main-header .container {
    display: flex;
    justify-content: space-between; }
    .main-header .container .title {
      color: white; }
    .main-header .container .list {
      display: flex; }
    .main-header .container .list__item + .list__item {
      margin-left: 20px; }
    .main-header .container .list__link {
      color: lightblue;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.5s;
      position: relative; }
      .main-header .container .list__link:hover {
        color: white; }
      .main-header .container .list__link:active {
        color: lightcyan; }
      .main-header .container .list__link_active {
        color: white; }
      .main-header .container .list__link_exit {
        color: white; }
        .main-header .container .list__link_exit:hover {
          color: lightblue; }
        .main-header .container .list__link_exit:active {
          color: #85c1d4; }

.start {
  color: red; }

.stop {
  color: green; }

.total {
  color: blue; }

.weekend {
  background-color: rgba(220, 20, 60, 0.2); }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table .caption {
    text-align: center;
    font-size: 40px;
    margin: 25px 0; }
  .table .table-header__row_subtitle {
    font-size: 16px; }
  .table .table-header__row_title {
    font-size: 18px; }
  .table .table-header__row th {
    padding: 5px 0;
    border: 1px solid #000; }
  .table .table-body {
    text-align: center; }
    .table .table-body__row td {
      padding: 5px 0;
      border: 1px solid #000;
      font-size: 16px; }
