// mixins
@import 'mixins.scss'; // noPadMar



// variables
$fist-color: rgb(241, 241, 241);



// nullify
body,h3 {
    @include noPadMar;
}

// mainStyles
body {
    font-family: sans-serif;
    background-color: lightcyan;
}

// page

.week {
    & .day {
        margin-top: 5px;
        background-color: #fff;
        text-align: center;       
        padding: 8px;
        &_disable {
            opacity: 0.5;
        }
        &_current-day {
            border: 2px solid #000;
            box-shadow: lightslategray 0 0 10px 2px;
        }
        &_weekend {
            background-color: rgb(255, 220, 220);
        }
        & .day-name {
            margin: 10px 0;
        }

        & .time-container {
            margin: 5px 0;
            .start {
                color: darkgreen;
                font-weight: bold;
            }
            .stop {
                color: darkred;
                font-weight: bold;
            }     
        }
    }
}