// mixins
@mixin noPadMar {
    margin: 0;
    padding: 0;
}



// variables
$fist-color: rgb(241, 241, 241);



// nullify
body,h2 {
    @include noPadMar();
}
ul {
    list-style: none;
    @include noPadMar();
}
a {
    text-decoration: none;
    color: black;
}

// mainStyles
*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

// styles

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    &__title {
        text-align: center;
        margin: 20px 0;
    }
    &__input {
        padding: 5px 20px;
        font-size: 20px;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: gray;
        margin-bottom: 10px;
        outline: none;
        &::placeholder {
            color: lightgray;
        }
    }
    &__btn {
        padding: 5px 20px;
        font-size: 20px;
        margin: 10px 0 20px 0;        
    }
}

a {
    width: 350px;
    text-align: center;
    display: block;
    color: white;
    background-color: green;
    padding: 20px 40px;
    margin: auto;
    &::before {
        content: "< ";
        color: white;
    }
}